.header {
    grid-area: h;
    background: #5656f3;
    padding: 15px;
}
.cart {
    float: right;
    font-size: 19px;
}

.cart img {
    float: right;
    width: 40px;
}

.logo {
    width: 35px;
}