.content {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-gap: 20px;
    max-width: 600px;
    margin-top: 20px;

}

.desc {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.logo {
    width: 100px;
    padding: 10px;
}

.btn {
    margin: 0 auto;
    padding-top: 45px;
}

.price {
    margin-left: 20px;
}

.btn button {
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.btn button:active {
    box-shadow: 2px 2px 0 grey;
    transform: translate(2px, 2px);
}